.amazon-header {
  background-color: black;
  color: white;
  padding-left: 15px;
  padding-right: 15px;

  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
}

.amazon-header-left-section {
  width: 180px;
}

.amazon-header-middle-section {
  flex: 1.75;
  width: 500px;
  
  margin-right: 10px;
  margin-left: 10px;

  display: flex;
}

.amazon-header-right-section {
  width: 180px;
  display: flex;
}


.header-link {
  display: inline-block;
  padding:6px;  
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0);
  text-decoration: none;
}

.header-link:hover {
  border: 1px solid white;
}

.amazon-logo {
 width: 100px;
 margin-top:5px;
}

.search-bar {
  padding-left: 15px;
  flex: 1;
  border: none;
  height: 38px;
  font-size: 16px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.search-button {
  background-color: rgb(254,189,105);
  border: none;
  height: 40px;
  width: 45px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search-icon {
 height: 22px;

}

.orders-link {
  display: inline-block;
  color: white;
  text-decoration: none;
}

.returns-text {
  display: block;
  font-size: 13px;  
}

.orders-text {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

.cart-link {  
  text-decoration: none;
  color: white;

  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  width: 50px;
}

.cart-quantity {
  position:absolute;
  top:2px;
  left:25px;
  color: rgb(240, 136, 4);
  width: 25px;
  font-size: 16px;
}

.cart-text {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}


.cart-link:hover {
  border: 1px solid white;
}

.orders-link:hover {
  border: 1px solid white;
}

